.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

/* WishlistDetail.css */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.item-description {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.icon {
  width: 16px;
  height: 16px;
}

/* WishlistDetail.css */
.button, .button-small {
  padding: 0.5rem 0.7rem;
  min-width: 16px;
}

.icon {
  width: 12px;
  height: 12px;
}

@media (max-width: 1024px) {
  .button, .button-small {
    min-width: 90px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .button, .button-small {
    min-width: 80px;
    font-size: 0.8rem;
  }

  .icon {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 480px) {
  .button, .button-small {
    min-width: 70px;
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}
.description {
  max-width: 70%; /* Ajustez cette valeur selon vos besoins */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}


